<nav class=" d-flex justify-content-center navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <div class="row w-100">
        <div class="col-2" style="align-self: center; text-align: center;">
            <a class="navbar-brand" href="#" >JustWebTools</a>
        </div>
        <div class="col">
            <ul class="navbar-nav center-header">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">WaterMarker</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</nav>